{{ $related := .Site.RegularPages.Related . | first 3 }}
{{ if $related }}
<div class="related-posts">
  <h3 class="related-posts-title">함께 읽으면 좋은 글</h3>
  <ul class="related-posts-list">
    {{ range $related }}
    {{ $relTitle := .Title }}
    <li class="related-posts-item">
      <a href="{{ .RelPermalink }}" class="related-posts-link">
        {{ with .Params.image }}
        <img src="{{ . }}" alt="{{ $relTitle }}" class="related-posts-thumb" loading="lazy" width="120" height="80">
        {{ end }}
        <div class="related-posts-text">
          <span class="related-posts-item-title">{{ .Title }}</span>
          <span class="related-posts-item-desc">{{ .Description | truncate 80 }}</span>
        </div>
      </a>
    </li>
    {{ end }}
  </ul>
</div>
{{ end }}
