{{- $related := .Site.RegularPages.Related . | first 4 }}
{{- if $related }}
<div class="related-posts">
  <p class="related-posts-title">📌 관련 분석 글</p>
  <ul class="related-posts-list">
    {{- range $related }}
    <li class="related-posts-item">
      <a href="{{ .Permalink }}" class="related-posts-link">
        <span class="related-posts-item-title">{{ .Title }}</span>
        {{- if .Description }}
        <span class="related-posts-item-desc">{{ .Description | truncate 60 }}</span>
        {{- end }}
      </a>
    </li>
    {{- end }}
  </ul>
</div>
{{- end }}
